menu-principal-home {
    
    .titleImage{
        text-align: center;
    }
    
    button{
        background: dimgrey!important;
        margin-bottom: 1rem!important;
        margin-top: 1rem!important;
    }

}

