<ion-header>
  <ion-navbar color="dark">
    <ion-title>
      Configuración
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
<ion-spinner *ngIf="user.image == null"></ion-spinner>
  <main *ngIf="user.image != null">
    <div class="headerConfiguration">
      <!--div class="img" [ngStyle]="{'background-image': 'url(' + user.image + ')'}" (click)="getPicture()"></div-->
      <div class="iconoBackground">
        <img src="{{user.image}}" (click)="getPicture()" />
      </div>    
      <ion-input (focusout)="guardarNombre()" type="text" class="nombreInput" [(ngModel)]="user.name"></ion-input><ion-icon name="create" item-end></ion-icon>
    </div>
    <ion-list class="lista">     
      <ion-item>
        <ion-range min="0" max="10" step="1" color="primary" pin="true" [(ngModel)]="soundValue" (ionChange)="guardarVolumen()">
          <ion-icon small range-left name="volume-off"></ion-icon>
          <ion-icon range-right  name="volume-up"></ion-icon>
        </ion-range>
      </ion-item>
      <ion-item>
        <ion-label>Ahorro de datos</ion-label>
        <ion-toggle [(ngModel)]="ahorroDatos" color="oran"></ion-toggle>
    </ion-item>
    </ion-list>
  </main>
</ion-content>
